%h1= t('currency.extra.header')+" - #{@exchange.created_at.strftime('%Y-%m-%d')}"
%table{border: 2, class: 'data_table'}
  - keys = %w(name converter code buy_price sell_price)
  %thead
    %tr
      - keys.each do |key|
        %td= t 'currency.keys.'+key
  %tbody
    - @exchange.currencies.each do |entity|
      %tr
        - keys.each do |key|
          %td= entity[key]
